/*
    Author: @a_devs_life
    Youtube: https://www.youtube.com/@a_devs_life
    Instagram: https://www.instagram.com/a_devs_life/
    Github: https://github.com/codeboysk/a-devs-life
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    font-family: 'Ubuntu', sans-serif;
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
}

.content {
    color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.13);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 420px;
    box-shadow: 0 0 6px 0 rgba(29, 29, 29, .2);
    padding: 30px 40px;
    backdrop-filter: blur(3px);
}

.content h1 {
    font-size: 36px;
}

.field {
    width: 100%;
    height: 50px;
    margin: 25px 0;
    position: relative;
}

.field input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    font-size: 16px;
    padding: 20px 20px 20px 45px;
    color: #fff;
}

.field input::placeholder {
    color: #fff;
}

.field i {
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.show em {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

.pass-key:valid ~ .show em {
    display: block;
}

.remember-me {
    display: flex;
    justify-content: space-between;
    margin: -10px 0 15px;
    font-size: 14.5px;
}

.remember-me label input {
    accent-color: #fff;
    vertical-align: -2px;
}

.remember-me label {
    cursor: pointer;
}

.content a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s color;
}

.content a:hover {
    color:#ddd;
}

.btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    background-color: #dd3e45;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
    transition: 0.3s background-color;
    cursor: pointer;
}

.btn:hover {
    background-color: #d22b34;
}

.new-account {
    margin-top: 20px;
    font-size: 14.5px;
}

.new-account a {
    font-weight: 600;
}

@media (max-width: 481px){
    .content {
        padding: 30px 20px;
    }

    .field {
        margin: 15px 0;
    }

    .remember-me {
        margin: -5px 0 10px;
    }
}